body{
background-image: url("bg2.jpg");
}

#boby{
background-color: white;
}

.navbar-default {
  
border: none;

background-color:darkred;
}

.nav.navbar-nav li a {
color: white;

}

header {
  
background-color:white
height: 100px;

}



.stylish-input-group .input-group-addon{
    
background: white !important; 

}


.stylish-input-group .form-control{
	
border-right:0; 
	
box-shadow:0 0 0; 
	
border-color:#ccc;

}


.stylish-input-group button{
    
border:0;
    
background:transparent;

}
