body{
background-image: url("bg2.jpg");
}

#main{
margin-top:-20px;
background-color: white;

}

.navbar-default {
  
border: none;

background-color:darkred;
}

.nav.navbar-nav li a {
color: white;
font-family:verdana;
font-weight: bold;
}
.nav.navbar-nav li a:hover{
color: darkred;
background-color:white;
}

header {
  
background-color:white
height: 100px;

}



.stylish-input-group .input-group-addon{
    
background: white; 

}


.stylish-input-group .form-control{
	
border-right:0; 
	
box-shadow:0 0 0; 
	
border-color:#ccc;

}


.stylish-input-group button{
    
border:0;
    
background:transparent;

}
